.right-side {
	float: right;
	width: 270px;
	border: 1px solid silver;
	background-color: white;
	-webkit-border-radius: 2px 2px 6px 6px;
	-moz-border-radius:  2px 2px 6px 6px;
	border-radius: 2px 2px 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	}

.right-side p {
	font-size: small;
	padding-right: 0.5em;
	margin-left: 1em;
}

.right-side h1 {
	font-size: large;
	font-weight: thick;
	color: black;
	margin-left: 1em;
	margin-bottom: 0.1em;
}

.right-side h2 {
	font-size: medium;
	font-weight: thick;
	color: black;
	margin-left: 1em;
	margin-bottom: 0.1em;
}

.right-side ul, ul {
	list-style: square;
	margin: 0 0 18px 25px;
}

.right-side li, .archive li {
	margin-left: 1em;
	font-size: small;
	color: black;
}

.right-side img {
	display: block;
    	margin-left: auto;
    	margin-right: auto
}

 /* Override some defaults */
html, body 
{
        background-color: #708090;
}

body 
{
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

.container > footer p 
{
	text-align: center; /* center align it with the container */
	border-top: none;
}

/* The white background content wrapper */
.container > .content 
{	
	background-color: white;	
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
        -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.container > footer p 
{
	text-align: center; /* center align it with the container */	
}

/* Page header tweaks */
.page-header 
{
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
}

.topbar .btn 
{
        border: 0;
}

.fill
{
	background-color:#191970;
	background-repeat: repeat-x;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
}

h2
{
	color: #666666;
}

ul.posts, div.post  
{
	margin: 0 0 18px 25px;
}

.left-side 
{
	width: 620px;
	padding-right: 20px;
	padding-bottom: 1em;
	height: 100%;
}
