/* @override http://jane.dallaway.com/css/demo.css */

/* colour pallete is 336699, 666666 and 999999 */

/* right side panel*/
 .right-side {
    display: inline;
    float: right;
    width: 270px;
    border: 1px solid silver;
    background-color: white;
    color:#666666;
    -webkit-border-radius: 2px 2px 6px 6px;
    -moz-border-radius: 2px 2px 6px 6px;
    border-radius: 2px 2px 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
.right-side p {
    font-size: small;
    padding-right: 0.5em;
    margin-left: 1.5em;
}
.right-side h1 {
    font-size: large;
    font-weight: bold;
    color: #336699;
    text-align: center;
}
.right-side h2 {
    font-size: medium;
    font-weight: bold;
    color: #336699;
    padding-right: 0.5em;
    margin-left: 1.5em;
    text-align: center;
}
.right-side ul li {
    list-style-type: none;        
}
.right-side img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* left hand side */
 .left-side {
    width: 620px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1em;
    padding-top:0em;
    background-color: white;
    border: 1px solid silver;
    -webkit-border-radius: 2px 2px 6px 6px;
    -moz-border-radius: 2px 2px 6px 6px;
    border-radius: 2px 2px 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

/* archive stuff */
 .archive li {
    margin-left: 1em;
    font-size: small;
    color: black;
}
/* Override some defaults */
 html, body {
    background-color: #999999;
}
body {
    color:#666666;
    font-size: medium;
    font-family: 'Roboto Slab', Tahoma, Geneva, sans-serif;
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
/* general stuff */
 h2 {
    color: #666666;
}
h3 {
    color: #666666;
}
ul.posts, div.post {
    margin: 0 0 18px 25px;
}
a {
    color: #336699;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
}
a:hover {
  color: #336699;
  text-decoration: underline;
}
p {
    text-rendering: optimizeLegibility;
    line-height: 135%;
}

/* container stuff */
 .container > footer p {
    text-align: center;
    /* center align it with the container */
    border-top: none;
}
/* The white background content wrapper */
 .container > .content {
    background-color: white;
    padding: 20px;
    margin: 0 -20px;
    /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}
.container > p {
    margin-left: 1em;
    /* center align it with the container */
}
.container > footer p {
    text-align: center;
    /* center align it with the container */
}
.container li {
    color: #666666;
}
/* Page header */
 .page-header {
    background-color: white;
}
.topbar .btn {
    border: 0;
}
.topbar-inner, .topbar .fill {
    background-color:#336699;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #003366, #336699)
}
.topbar a {
    color: #000;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.topbar div > ul a:hover, .nav a:hover {
   color: #ffffff;
   text-decoration: underline;
}
.topbar div > ul a, .nav a {
 color: #ffffff;
}

.topbar div > ul .active > a, .nav .active > a {
  color: #999999;
  background-color: inherit;

}
